header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 200px;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}



.nav-links  {
    display: flex;
    margin: 0%;
    padding: 0%;
    text-indent: 20px;
    list-style-type: none;
    padding-right: 10px;
    background-color: #f5ba13;
    margin: auto -16px;
  }

  .nav-item {
    display: flex;
    flex-flow: flex-start;
    margin-right: 20px;
    color: #3A5F0B;

  }
  
  .nav-bar {
    margin-top: 20px;
    margin-left: 20px;
  }

  .sign {
    position: absolute;
    right: 20px;
  }
button {
  background-color: #8BC34A; /* Leafy green color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor on hover */
  font-family: "McLaren";
  font-weight: bold;

}

button:hover {
  background-color: #689F38; /* Darker shade of leafy green on hover */
}

